<!DOCTYPE html>
<html ng-app="angularCheckboxes">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Angular-checkboxes : Bind a list of checkboxes to a unique ng-model array">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/angular-checkboxes.css">

    <script src="https://code.angularjs.org/1.4.3/angular.min.js"></script>
    <script src="javascripts/ui-bootstrap-tabs-tpls-0.13.3.min.js"></script>
    <script src="javascripts/angular-checkboxes.js"></script>

    <title>Angular-checkboxes</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/msieurtoph/angular-checkboxes">View on GitHub</a>

          <h1 id="project_title">Angular-checkboxes</h1>
          <h2 id="project_tagline">Bind a list of checkboxes to a unique ng-model array</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/msieurtoph/angular-checkboxes/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/msieurtoph/angular-checkboxes/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

        <!-- INTRO -->
        <h3>
          <a id="welcome-to-angular-checkboxes-live-demo" class="anchor" href="#welcome-to-angular-checkboxes-live-demo" aria-hidden="true"><span class="fa fa-fw fa-anchor"></span></a> Welcome to Angular-checkboxes live Demo.
        </h3>

        <p>If you are used to manipulate HTML forms, you probably know that each checkbox is a separate variable (or maybe an ngModel with AngularJS).</p>
        <p>Sometimes, it could be usefull to manipulate all these checkboxes as a unique array. <code>angular.checkboxes</code> module lets you turn this list of checkboxes into a unique array and provides an API to control it, without creating new scopes.</p>
        <p></p>
        <p>When you check/uncheck the checkboxes, the array is updated</p>
        <p>When you add/remove values to/from the array, checkbox states are updated.</p>

        <script>
          var app = angular.module('angularCheckboxes', ['ui.bootstrap', 'msieurtoph.ngCheckboxes']);
        </script>

        <!-- BASIC USAGE -->
        <h3>
          <a id="basic-usage" class="anchor" href="#basic-usage" aria-hidden="true"><span class="fa fa-fw fa-anchor"></span></a> Basic Usage
        </h3>
        <p>Use the <code>mt-to</code> directive on a parent tag, to define the destination array.<br>Then add the <code>mt-checkbox</code> to your checkboxes.</p>
        <p>The value of the <code>mt-checkbox</code> attribute is the value that will be stored.<br> This value is parsed, so it can be a plain value or a reference in the local scope</p>
        <p>If the value is a string, do not forget to wrap it with quotes: <code>mt-checkbox="'my string'"</code>!</p>
        <tabset>
          <tab heading="Live Demo">

<script>
app.controller('basicUsageCtrl', ['$scope', function($scope){
  $scope.myValue='Checkbox 2';

  $scope.add = function(value){
    if (!angular.isArray($scope.checkboxList)){
      $scope.checkboxList = [];
    }
    if (-1 === $scope.checkboxList.indexOf(value)){
      $scope.checkboxList.push(value);
    }
  }
  $scope.remove = function(value){
    if (!angular.isArray($scope.checkboxList)) {
      return;
    }
    var index = $scope.checkboxList.indexOf(value);
    if (-1 !== index) {
      $scope.checkboxList.splice(index, 1);
    }
  }
}]);
</script>

<div ng-controller="basicUsageCtrl" mt-to="checkboxList">
  <ul>
    <li class="checkbox"><label>
      <input type="checkbox" mt-checkbox="'Checkbox 1'" />it should add/remove the string <code>'Checkbox 1'</code>
    </label></li>
    <li class="checkbox"><label>
      <input type="checkbox" mt-checkbox="myValue" />it should add/remove the value of <code>$scope.myValue</code>
    </label></li>
    <li class="checkbox"><label>
      <input type="checkbox" mt-checkbox name="Checkbox 3"/>it should add/remove the value of the <code>name</code> attribute
    </label></li>
    <li class="checkbox"><label>
      <input type="checkbox" mt-checkbox="'Checkbox 4'" name="unusedValue"/>it should ignore name attribute and add/remove the string <code>'Checkbox 4'</code>
    </label></li>
  </ul>
  <h4>Scope :</h4>
  <pre>
$scope.myValue: {{myValue}}
$scope.checkboxList: {{checkboxList}}
  </pre>
  <ul>
    <li>
      <div class="btn-group btn-group-xs">
        <button class="btn btn-default" ng-click="add('Checkbox 1')">Add <code>'Checkbox 1'</code></button>
        <button class="btn btn-default" ng-click="remove('Checkbox 1')">Remove <code>'Checkbox 1'</code></button>
      </div>
    </li>
    <li>
      <div class="btn-group btn-group-xs">
        <button class="btn btn-default" ng-click="add(myValue)">Add <code>$scope.myValue</code></button>
        <button class="btn btn-default" ng-click="remove(myValue)">Remove <code>$scope.myValue</code></button>
      </div>
    </li>
    <li>
      <div class="btn-group btn-group-xs">
        <button class="btn btn-default" ng-click="add('Checkbox 3')">Add <code>'Checkbox 3'</code></button>
        <button class="btn btn-default" ng-click="remove('Checkbox 3')">Remove <code>'Checkbox 3'</code></button>
      </div>
    </li>
  </ul>
</div>
          </tab>
           <tab heading="HTML">
            <div ng-non-bindable>
              <script src="https://gist.github.com/msieurtoph/2555215bed6bb0c7e3cb.js?file=angular-checkboxes-basic-usage.html"></script>
            </div>
          </tab>
          <tab heading="Javascript">
            <script src="https://gist.github.com/msieurtoph/2555215bed6bb0c7e3cb.js?file=angular-checkboxes-basic-usage.js"></script>
          </tab>
        </tabset>

        <!-- CUSTOMIZE VALUES TO STORE -->
        <h3>
          <a id="customize-values" class="anchor" href="#customize-values" aria-hidden="true"><span class="fa fa-fw fa-anchor"></span></a> Customize the values to store
        </h3>
        <p>The stored values can be any type (even array or object) :</p>

        <tabset>
          <tab heading="Live Demo">

<script>
app.controller('customizeValuesCtrl', ['$scope', function($scope){
  $scope.values = [
    'this is a string',
    {this: 'is', an: 'object'},
    123456,
    true,
    [1,2,3]
  ];

  $scope.types = $scope.values.map(function(value){
    return angular.isArray(value) ? 'array' : typeof value
  });

  $scope.add = function(value){
    if (!angular.isArray($scope.checkboxList)){
      $scope.checkboxList = [];
    }
    if (-1 === $scope.checkboxList.indexOf(value)){
      $scope.checkboxList.push(value);
    }
  }
  $scope.remove = function(value){
    if (!angular.isArray($scope.checkboxList)) {
      return;
    }
    var index = $scope.checkboxList.indexOf(value);
    if (-1 !== index){
      $scope.checkboxList.splice(index, 1);
    }
  }
}]);
</script>

<div ng-controller="customizeValuesCtrl" mt-to="checkboxList">
  <ul>
    <li class="checkbox" ng-repeat="value in values track by $index "><label>
      <input type="checkbox" mt-checkbox="value" />it should add/remove this {{ types[$index] }} <code>{{value}}</code>
    </label></li>
  </ul>
  <h4>Scope :</h4>
  <pre>
$scope.values: {{values}}
$scope.checkboxList: {{checkboxList}}
  </pre>
  <ul>
    <li ng-repeat="value in values track by $index">
      <div class="btn-group btn-group-xs">
        <button class="btn btn-default" ng-click="add(value)">{{$index}} Add <code>{{value}}</code></button>
        <button class="btn btn-default" ng-click="remove(value)">Remove <code>{{value}}</code></button>
      </div>
    </li>
  </ul>
</div>
          </tab>
           <tab heading="HTML">
            <div ng-non-bindable>
              <script src="https://gist.github.com/msieurtoph/2555215bed6bb0c7e3cb.js?file=angular-checkboxes-customize-values.html"></script>
            </div>
          </tab>
          <tab heading="Javascript">
            <script src="https://gist.github.com/msieurtoph/2555215bed6bb0c7e3cb.js?file=angular-checkboxes-customize-values.js"></script>
          </tab>
        </tabset>


        <!-- MIX DESTINATIONS -->
        <h3>
          <a id="mix-destinations" class="anchor" href="#mix-destinations" aria-hidden="true"><span class="fa fa-fw fa-anchor"></span></a> Mix the destinations
        </h3>
        <p>The <code>mt-checkbox</code> directive looks for the closest <code>mt-to</code> directive to know where to store the value.</p>
        <p>Then you can use several <code>mt-to</code> and store values in different destinations</p>
        <tabset>
          <tab heading="Live Demo">

<script>
app.controller('mixDestinationsCtrl', [function(){
  // Just to create a scope.
}]);
</script>

<div ng-controller="mixDestinationsCtrl" mt-to="checkboxList">
  <ul>
    <li class="checkbox"><label>
      <input type="checkbox" mt-checkbox="'foo'" /> it should store 'foo' in <code>$scope.checkboxList</code>
    </label><ul mt-to="checkboxList2">
      <li class="checkbox"><label>
        <input type="checkbox" mt-checkbox="'bar'" /> it should store 'bar' in <code>$scope.checkboxList2</code>
      </label></li>
      <li class="checkbox"><label>
        <input type="checkbox" mt-checkbox="'baz'" /> it should store 'baz' in <code>$scope.checkboxList2</code>
      </label></li>
    </ul></li>
    <li class="checkbox"><label>
      <input type="checkbox" mt-checkbox="'ooo'" /> it should store 'ooo' in <code>$scope.checkboxList</code>
    </label></li>
    <li class="checkbox"><label>
      <input type="checkbox" mt-checkbox="'man'" mt-to="checkboxList3" /> it should store 'man' in <code>$scope.checkboxList3</code>
    </label></li>
  </ul>
  <h4>Scope :</h4>
  <pre>
$scope.checkboxList: {{checkboxList}}
$scope.checkboxList2: {{checkboxList2}}
$scope.checkboxList3: {{checkboxList3}}
  </pre>
</div>
          </tab>
           <tab heading="HTML">
            <div ng-non-bindable>
              <script src="https://gist.github.com/msieurtoph/2555215bed6bb0c7e3cb.js?file=angular-checkboxes-mix-destinations.html"></script>
            </div>
          </tab>
          <tab heading="Javascript">
            <script src="https://gist.github.com/msieurtoph/2555215bed6bb0c7e3cb.js?file=angular-checkboxes-mix-destinations.js"></script>
          </tab>
        </tabset>


        <!-- USING NGMODEL -->
        <h3>
          <a id="using-ngModels" class="anchor" href="#using-ngModels" aria-hidden="true"><span class="fa fa-fw fa-anchor"></span></a> Using ngModels
        </h3>
        <p>If <code>ng-model</code> is used on the checkboxes. The <code>mt-checkbox</code> directive will take advantage of the ngModelControllers and bind them to the destination(s).</p>
        <p>During the initialisation phase, the priority goes to the <code>mt-to</code> values. If they differ from the ngModel ones, ngModels are updated to reflect them.</p>
        <p></p>
        <p>In this example, ngModel of second line is 'true' but the checkboxList does not contain 'bar', so the ngModel is turned to 'false'.</p>
        <p>On the opposite, checkboxList contains 'baz', so the third ngModel is turned to 'true'.</p>
        <tabset>
          <tab heading="Live Demo">

<script>
app.controller('usingNgModelsCtrl', ['$scope', function($scope){

  $scope.bar = true;
  $scope.checkboxList = ['baz'];

  $scope.toggle = function(){
    $scope.foo = !$scope.foo;
  }

}]);
</script>

<div ng-controller="usingNgModelsCtrl" mt-to="checkboxList">
  <ul>
    <li class="checkbox"><label>
      <input type="checkbox" mt-checkbox="'foo'" ng-model="foo"/> <code>foo</code> ngModel
    </label></li>
    <li class="checkbox"><label>
      <input type="checkbox" mt-checkbox="'bar'" ng-model="bar" /> <code>bar</code> ngModel
    </label></li>
    <li class="checkbox"><label>
      <input type="checkbox" mt-checkbox="'baz'" ng-model="baz" /> <code>baz</code> ngModel
    </label></li>
  </ul>
  <div class="btn-group btn-group-sm">
    <button class="btn btn-default" ng-click="toggle()">Toggle <code>foo</code> ngModel</button>
  </div>
  <h4>Scope :</h4>
  <pre>
$scope.foo: {{foo}}
$scope.bar: {{bar}}
$scope.baz: {{baz}}
$scope.checkboxList: {{checkboxList}}
  </pre>
</div>
          </tab>
           <tab heading="HTML">
            <div ng-non-bindable>
              <script src="https://gist.github.com/msieurtoph/2555215bed6bb0c7e3cb.js?file=angular-checkboxes-using-ngmodels.html"></script>
            </div>
          </tab>
          <tab heading="Javascript">
            <script src="https://gist.github.com/msieurtoph/2555215bed6bb0c7e3cb.js?file=angular-checkboxes-using-ngmodels.js"></script>
          </tab>
        </tabset>


        <!-- ADVANCED USAGE -->
        <h3>
          <a id="advanced-usage" class="anchor" href="#advanced-usage" aria-hidden="true"><span class="fa fa-fw fa-anchor"></span></a> Advanced Usage
        </h3>
        <p><code>mt-checkbox</code> directive publishes a controller. It provides:
          <ul>
            <li><code>value</code>: The value that will be stored in the destination</li>
            <li><code>state</code>: The state of the checkbox</li>
            <li><code>set(boolean)</code>: method to set the state of the checkbox</li>
          </ul>
        </p>
        <p>In this example, we add a custom directive to the first checkbox. This directive uses this controller to modify the initial behavior</p>
        <tabset>
          <tab heading="Live Demo">
<script>
app.controller('usingAdvancedUsageCtrl', [function(){
  // Just to create a scope.
}])

.directive('advandedUsageDirective', ['$timeout', function($timeout){
  return {
    restrict: 'A',
    priority: -1,
    require: 'mtCheckbox',
    link: function(scope, elt, attrs, mtCheckboxCtrl){
      scope.mtCheckboxCtrl = mtCheckboxCtrl;
      scope.mtCheckboxCtrl.value = 'new value from advanded-usage-directive';

      scope.$watch('mtCheckboxCtrl.state', function(newVal, oldVal){
        if (newVal){
          elt.addClass('double-size');
        } else {
          elt.removeClass('double-size');
        }
      })

      $timeout(function(){
        scope.mtCheckboxCtrl.set(true);
      });
    }
  }
}]);
</script>
<style>
  .double-size {transform:scale(2)}
</style>
<div ng-controller="usingAdvancedUsageCtrl" mt-to="checkboxList">
  <ul>
    <li class="checkbox"><label>
      <input type="checkbox" mt-checkbox="'Initial value 1'" advanded-usage-directive /> with <code>advandedUsageDirective</code> directive
    </label></li>
    <li class="checkbox"><label>
      <input type="checkbox" mt-checkbox="'Initial value 2'" /> without it
    </label></li>
  </ul>
  <h4>Scope :</h4>
  <pre>
$scope.checkboxList: {{checkboxList}}
  </pre>
</div>

          </tab>
          <tab heading="HTML">
            <div ng-non-bindable>
              <script src="https://gist.github.com/msieurtoph/2555215bed6bb0c7e3cb.js?file=angular-checkboxes-advanced-usage.html"></script>
            </div>
          </tab>
          <tab heading="Javascript">
            <script src="https://gist.github.com/msieurtoph/2555215bed6bb0c7e3cb.js?file=angular-checkboxes-advanced-usage.js"></script>
          </tab>
        </tabset>

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Angular-checkboxes maintained by <a href="https://github.com/msieurtoph">msieurtoph</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>





  </body>
</html>
